<p>
<%= form_for @note do |f| %>
  <%= f.submit :Update %>
  <p></p>
  <%= f.label :tags %>
  <%= f.text_field :tags %>
  <p><p>
  <%= f.text_area :body, id: "text-input", oninput: "this.editor.update()", rows: "6", cols: "60" %>
  <br>
<% end %>
</p>
