<%= form_for @note do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<p>
<%= f.label :body %>
<%= f.text_area :body %>
</p>
<p>
<%= f.label :tags %>
<%= f.text_field :tags %>
</p>
<%= f.submit %>
<% end %>
